#basic div {
    letter-spacing: 0em; /*文字間隔*/
    text-shadow: none; /*文字影なし*/
}
    
.h1 {
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 1px 1px 2px gray; /*文字影*/
    text-align: center; /*表示位置*/
    border-bottom: solid 3px rgb(115, 115, 114); /*下線*/ 
    font-size: 2rem; /*font-size ルートの2倍*/
    letter-spacing: 1.2em; /*文字間隔*/
} 

.clrsb {
    color: rgb(144, 215, 236, 1); /*スカイブルー*/
}

.clrbr {
    color: rgb(0, 0, 0, 1); /*黒*/
    text-shadow: 1px 1px 2px gray; /*文字影*/ 
} 

.clrpi {
    color: rgb(255, 192, 203, 1);  /*桃*/
    text-shadow: 1px 1px 2px gray; /*文字影*/
} 

.p {
    font-family: "Josefin Sans", sans-serif;
    text-align: center; /*表示位置*/
    font-weight: bold;
    color: rgb(0, 0, 0, 1); /*黒*/
} 

.p2 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center; /*表示位置*/
    font-weight: normal;
    color: rgb(0, 0, 0, 1); /*黒*/
} 

.clrpih2 {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(255, 192, 203, 1);  /*桃*/
    text-align: center; /*表示位置*/
} 
.clrsbh2 {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(144, 215, 236, 1);  /*スカイブルー*/
    text-align: center; /*表示位置*/
} 